@use "../../functions" as f;

.l-main {
  &__involved {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin-top: 5.9rem;
    margin-bottom: 25.2rem;

    @include f.breakpoint("medium") {
      margin-top: 10.9rem;
      margin-bottom: 22rem;
    }

    @include f.breakpoint("large") {
      margin-top: 15.9rem;
      margin-bottom: 18.5rem;
    }
  }
}
