.u-fw-600 {
  font-weight: 600;
}

.u-fw-700 {
  font-weight: 700;
}

.u-text-align\:center {
  text-align: center;
}

.u-fc-dark-cyan {
  color: var(--very-dark-cyan);
}

.u-fc-gray {
  color: var(--gray);
}

.u-fc-white {
  color: var(--white);
}

.u-fc-red {
  color: var(--light-red);
}
