*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0rem;
  margin: 0rem;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

picture {
  display: flex;
}

body {
  overflow-x: hidden;
}

:root {
  font-size: 62.5%;
}
