:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(322, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: #f6fbff;
  --white: hsl(0, 0%, 100%);
  --gray: hsl(208, 12%, 55%);
  --blue: hsl(192, 100%, 49%);
}
